div(class="__radio-sex")
    span(class="__radio-sex-label") Radio buttons
    div(class="__radio-sex-inputs")
        div(class="__radio-sex-man-wrapper")
            div(class="__radio-sex-man-input _radio-sex-checked")
                div(class="__radio-sex-man-checker")
            span(class="__radio-sex-man-label") Мужчина
    
        div(class="__radio-sex-inputs")
            div(class="__radio-sex-woman-wrapper")
                div(class="__radio-sex-woman-input")
                    div(class="__radio-sex-woman-checker")
                span(class="__radio-sex-woman-label") Женщина