div(class="__convenience")
    div(class="__convenience-icon material-icons") location_city
    div(class="__convenience-description")
        span(class="__convenience-header") Удобство
        span Окно в каждой из спален