div(class="__dropdown-guests-field _dropdown-guests-expanded")
    div(class="__dropdown-guests-field-label")
        span(class="__dropdown-guests-field-label-span1") dropdown
    div(class="__dropdown-guests")
        div(class="__dropdown-guests-switcher")
            span Сколько гостей
            div(class="__dropdown-guests-arrow-wrapper")
                span(class="__dropdown-guests-arrow material-icons") keyboard_arrow_down
        div(class="__dropdown-guests-inputs")
            div(class="__dropdown-guests-input")
                span(class="__dropdown-guests-input-label") Взрослые
                div(class="__dropdown-guests-minus-wrapper")
                    span -
                span(class="__dropdown-guests-number") 0
                input(class="__dropdown-guests-hidden" type="number" value="0")
                div(class="__dropdown-guests-plus-wrapper")
                    span +
            div(class="__dropdown-guests-input")
                span(class="__dropdown-guests-input-label") Дети
                div(class="__dropdown-guests-minus-wrapper")
                    span -
                span(class="__dropdown-guests-number") 0
                input(class="__dropdown-guests-hidden" type="number" value="0")
                div(class="__dropdown-guests-plus-wrapper")
                    span +
            div(class="__dropdown-guests-input")
                span(class="__dropdown-guests-input-label") Младенцы
                div(class="__dropdown-guests-minus-wrapper")
                    span -
                span(class="__dropdown-guests-number") 0
                input(class="__dropdown-guests-hidden" type="number" value="0")
                div(class="__dropdown-guests-plus-wrapper")
                    span +
            div(class="__dropdown-guests-buttons")
                div(class="__dropdown-guests-refresh ") Очистить
                div(class="__dropdown-guests-submit") Применить
        