div(class="__toggle")
    span(class="__toggle-label") Toggle
    div(class="__toggle-wrapper")
        div(class="__toggle-btn _switch-on")
        span(class="__toggle-btn-label") Получать спецпредложения