div(class="__dropdown-filter-date")
    div(class="__dropdown-filter-date-switcher")
        span 19 авг - 23 авг
        div(class="__dropdown-filter-date-arrow-wrapper")
            span(class="__dropdown-filter-date-arrow material-icons") keyboard_arrow_down
        