div(class="__range")
    div(class="__range-label")
        span(class="__range-label-span") range slider
        div(class="__range-indicator") 
            span(class="__range-indicator-span1") 5 000&#8381
            |  - 
            span(class="__range-indicator-span2") 10 000&#8381
    div(class="__range-scale")
        div(class="__range-slider")
            div(class="__range-slider-elem1")
            div(class="__range-slider-elem2")
            div(class="__range-slider-elem3")
