div(class="__checkbox")
    span(class="__checkbox-label") Сheckbox buttons
    div(class="__checkbox-checkboxes")
        div(class="__checkbox-smoke-wrapper")
            div(class="__checkbox-smoke")
                input(class="hidden" type="checkbox")
                div(class="__checkbox-smoke-checker")
            span(class="__checkbox-smoke-label") Можно курить
        div(class="__checkbox-pets-wrapper")
            div(class="__checkbox-pets _checkbox-checked")
                input(class="hidden" type="checkbox")
                div(class="__checkbox-pets-checker")
            span(class="__checkbox-pets-label") Можно с питомцами
        div(class="__checkbox-guests-wrapper")
            div(class="__checkbox-guests _checkbox-checked")
                input(class="hidden" type="checkbox")
                div(class="__checkbox-guests-checker")
            span(class="__checkbox-guests-label") Можно пригласить гостей (до 10 человек)