div(class="__dropdown-beds-field")
    div(class="__dropdown-beds-field-label")
        span(class="__dropdown-beds-field-label-span1") dropdown
        span(class="__dropdown-beds-field-label-span2") expanded
    div(class="__dropdown-beds _dropdown-beds-expanded")
        div(class="__dropdown-beds-switcher")
            span 2 спальни, 2 кровати
            div(class="__dropdown-beds-arrow-wrapper")
                span(class="__dropdown-beds-arrow material-icons") keyboard_arrow_down
        div(class="__dropdown-beds-inputs")
            div(class="__dropdown-beds-input")
                span(class="__dropdown-beds-input-label") Спальни
                div(class="__dropdown-beds-minus-wrapper")
                    span -
                span(class="__dropdown-beds-number") 0
                input(class="__dropdown-beds-hidden" type="number" value="0")
                div(class="__dropdown-beds-plus-wrapper")
                    span +
            div(class="__dropdown-beds-input")
                span(class="__dropdown-beds-input-label") Кровати
                div(class="__dropdown-beds-minus-wrapper")
                    span -
                span(class="__dropdown-beds-number") 0
                input(class="__dropdown-beds-hidden" type="number" value="0")
                div(class="__dropdown-beds-plus-wrapper")
                    span +
            div(class="__dropdown-beds-input")
                span(class="__dropdown-beds-input-label") ванные комнаты
                div(class="__dropdown-beds-minus-wrapper")
                    span -
                span(class="__dropdown-beds-number") 0
                input(class="__dropdown-beds-hidden" type="number" value="0")
                div(class="__dropdown-beds-plus-wrapper")
                    span +
        