div(class="__rich-checkbox")
    span(class="__rich-checkbox-label") rich Сheckbox buttons
    table(class="__rich-checkbox-checkboxes")
        tr(class="__rich-checkbox-tr1")
            td
                div(class="__checkbox-corridor-wrapper")
                    div(class="__checkbox-corridor")
                        input(class="hidden" type="checkbox")
                        div(class="__checkbox-corridor-checker")
            td(class="__checkbox-corridor-label") Широкий коридор
        tr
            td
            td(class="__checkbox-corridor-description") Ширина коридоров в номере не менее 91 см.
        tr(class="__rich-checkbox-tr1")
            td
                div(class="__checkbox-helper-wrapper")
                    div(class="__checkbox-helper")
                        input(class="hidden" type="checkbox")
                        div(class="__checkbox-helper-checker")
            td(class="__checkbox-helper-label") Помощник для инвалидов
        tr
            td
            td(class="__checkbox-helper-description") На первом этаже вас встретит специалист и проводит до номера.