div(class="__subscription-text-field")
    div(class="__subscription-text-field-label") subscription text field
    div(class="__subscription-field")
        input(class="__subscription-input" type="email" placeholder="Email")
        div(class="__subscription-arrow-wrapper")
            button(class="__subscription-arrow material-icons" type="submit") arrow_forward