div(class="comment")
    div(class="comment__author-avatar")
    div(class="comment__author-info")
        span(class="comment__author-name") Мурад Сарафанов
        br
        span 5 дней назад
    include ./__like/comment__like.pug
    p(class="comment__text").
        Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару &mdash; никто не жаловался из соседей.