div(class="__rate _four-star")
    span(class="__rate-star1 material-icons")
    span(class="__rate-star2 material-icons")
    span(class="__rate-star3 material-icons")
    span(class="__rate-star4 material-icons")
    span(class="__rate-star5 material-icons")