div(class="__comfort")
    span(class="__comfort-icon material-icons") tag_faces
    div(class="__comfort-description")
        span(class="__comfort-header") Комфорт
        span Шумопоглощающие стены