div(class="__pagination")
    div(class="__page-numbers")
        span(class="__page-number _pagination-activated") 1
        span(class="__page-number") 2
        span(class="__page-number") 3
        span(class="__page-number") ...
        span(class="__page-number") 15
        span(class="__pagination-arrow material-icons _pagination-arrow-theme-green") arrow_forward
    div(class="__description") 1 - 12 из 100+ вариантов аренды