div(class="convenience")
    div(class="convenience__icon material-icons") location_city
    div(class="convenience__description")
        span(class="convenience__header") Удобство
        span Окно в каждой из спален