._five-star .__rate-star1:before {
    content: 'grade';
}

._five-star .__rate-star2:before {
    content: 'grade';
}

._five-star .__rate-star3:before {
    content: 'grade';
}

._five-star .__rate-star4:before {
    content: 'grade';
}

._five-star .__rate-star5:before {
    content: 'grade';
}