div(class="__email-field")
    div(class="__email-field-label")
        span(class="__email-field-label-span1") text field
        span(class="__email-field-label-span2") default
    input(class="__email-input" type="email" placeholder="Email")