@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: local("Material Icons"), local(MaterialIcons-Regular), url(fonts/MaterialIcons-Regular.woff) format("woff"), url(fonts/MaterialIcons-Regular.ttf) format("ttf");
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local(Montserrat-Regular), url(fonts/Montserrat-Regular.woff) format("woff"), url(fonts/Montserrat-Regular.ttf) format("ttf");
}

.__subscription-field {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.4rem;
    box-sizing: border-box;
    padding-left: 1rem;
    width: 26.6rem;
    height: 4.4rem;
}

.__subscription-input {
    border: 0;
    outline: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
}

.__subscription-input::-webkit-input-placeholder {
    /* Chrome */
    line-height: 1.8rem;
    color: rgba(31, 32, 65, 0.25);
}

.__subscription-input:-ms-input-placeholder {
    /* IE 10+ */
    line-height: 1.8rem;
    color: rgba(31, 32, 65, 0.25);
}

.__subscription-input:-moz-placeholder {
    /* Firefox 4 - 18 */
    line-height: 1.8rem;
    color: rgba(31, 32, 65, 0.25);
}

.__subscription-arrow-wrapper {
    width: 4.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.__subscription-arrow {
    color: #BC9CFF;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
}
