div(class="bullet-list")
    h3(class="bullet-list__label") Bullet list
    ul(class="bullet-list__list")
        li(class="bullet-list__li1")
            span(class="bullet-list__marker1")
            span(class="bullet-list__text1") Нельзя с питомцами
        li(class="bullet-list__li2")
            span(class="bullet-list__marker2")
            span(class="bullet-list__text2") Без вечеринок и мероприятий
        li(class="bullet-list__li3")
            span(class="bullet-list__marker3")
            span(class="bullet-list__text3") Время прибытия &mdash; после 13:00, а выезд до 12:00
        