div(class="__masked-text-field")
    div(class="__masked-text-field-label")
        span(class="__masked-text-field-label-span1") masked text field
        span(class="__masked-text-field-label-span2") default
    input(class="__masked-input" type="text" placeholder="ДД.ММ.ГГГГ")