div(class="__dropdown-dates")
    div(class="__dropdown-arrival")
        span(class="__dropdown-arrival-label") date dropdown
        div(class="__dropdown-arrival-switcher")
            span ДД.ММ.ГГГГ
            div(class="__dropdown-arrival-arrow-wrapper")
                span(class="__dropdown-arrival-arrow material-icons") keyboard_arrow_down
    div(class="__dropdown-departure")
        span(class="__dropdown-departure-label") date dropdown
        div(class="__dropdown-departure-switcher")
            span 19.08.2019
            div(class="__dropdown-departure-arrow-wrapper")
                span(class="__dropdown-departure-arrow material-icons") keyboard_arrow_down
        